@model IEnumerable<WebApplication1.Models.Participant>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="~/Scripts/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.css" />
<script type="text/javascript">
    $(document).ready(function () {
        var participants = [];
        var data;
        var selected = false;
        @foreach (var item in Model)
        {
        <text>
        var pesel = @item.PESEL;
        var fName = "@item.FirstName";
        var lName = "@item.LastName";
        var birthday = "@item.DateOfBirth.ToShortDateString()";
        var type = "@item.ParticipantType.pTypeName";
        var incidentID = @item.incidentID;
        participants.push([pesel, fName, lName, birthday, type, incidentID]);
        </text>
        }
        $('#example').DataTable({
            data: participants,
            columns: [
                { title: "PESEL" },
                { title: "First name" },
                { title: "Last name" },
                { title: "Date of birth" },
                { title: "Participation" },
                { title: "Incident" }
            ],
            dom: 'lBfrtip',
            buttons: [
            {
                text: 'Edit',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Participants/Edit/" + data[0];
                    else
                        alert('Please select one of participants first.');
                }
            },
            {
                text: 'Details',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Participants/Details/" + data[0];
                    else
                        alert('Please select one of participants first.');
                }
            },
            {
                text: 'Delete',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Participants/Delete/" + data[0];
                    else
                        alert('Please select one of participants first.');
                }
            },
            {
                text: 'Incident',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Incidents/Details/" + data[5];
                    else
                        alert('Please select one of participants first.');
                }
            }]

        });

        var table = $('#example').DataTable();

        $('#example tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                selected = false;
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                data = table.row(this).data();
                selected = true;
            }
        });
    });
</script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <table id="example" class="display" style="width:100%"></table>
</div>
