@model WebApplication1.Models.IncidentsViewModel

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript" src="~/Scripts/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.css" />
<script type="text/javascript">
    $(document).ready(function () {
        var participants = [];
        var data;
        var selected = false;
        @foreach (var item in Model.Participants)
        {
        <text>
        var pesel = @item.PESEL;
        var fName = "@item.FirstName";
        var lName = "@item.LastName";
        var birthday = "@item.DateOfBirth.ToShortDateString()";
        var type = "@item.ParticipantType.pTypeName";
        var incidentID = @item.incidentID;
        participants.push([pesel, fName, lName, birthday, type, incidentID]);
        </text>
        }
        $('#example').DataTable({
            data: participants,
            columns: [
                { title: "PESEL" },
                { title: "First name" },
                { title: "Last name" },
                { title: "Date of birth" },
                { title: "Participation" },
                { title: "Incident" }
            ],
            dom: 'lBfrtip',
            buttons: [
            {
                text: 'Edit',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Participants/Edit/" + data[0];
                    else
                        alert('Please select one of participants first.');
                }
            },
            {
                text: 'Details',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Participants/Details/" + data[0];
                    else
                        alert('Please select one of participants first.');
                }
            },
            {
                text: 'Delete',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Participants/Delete/" + data[0];
                    else
                        alert('Please select one of participants first.');
                }
            }],
            //"fnRowCallback": function( nRow, data, iDisplayIndex, iDisplayIndexFull ) {
            //    if ( data[8] == "False" )
            //        data[8] = "No";
            //    else
            //        data[8] = "Yes";
            //},
           // "order" : [[8, "asc"]]

        });

        var table = $('#example').DataTable();

        $('#example tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                data = table.row(this).data();
                selected = true;
            }
        });
    });
</script>
<h2>Details</h2>

<div>
    <h4>Incident</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfIncident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfIncident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfIncident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfIncident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Long)
        </dd>

        <dt>
            Services
        </dt>
        @for (var i = 0; i < Model.Roles.Count(); i++)
        {
            var role = Model.Roles[i];
            if (role.Selected == true)
            {
                <dd>
                    @Html.DisplayFor(model => model.Roles[i].RoleName, role.RoleName)
                </dd>
            }
        }
        <br />
        @using (Html.BeginForm("ConfirmIncident", "Incidents"))
        {
            if (Model.confirmed == false)
            {
                <dt>
                    <input type="submit" value="Confirm" class="btn btn-default" />
                </dt>
                @Html.TextBox("id", null, htmlAttributes: new { @value = @Model.ID, style = "visibility: hidden" })
            }
        }
        <br />
        @using (Html.BeginForm("DenyIncident", "Incidents"))
        {
            if (Model.confirmed == false)
            {

                <dt>
                    <input type="submit" value="Deny" class="btn btn-default" />
                </dt>
                @Html.TextBox("id", null, htmlAttributes: new { @value = @Model.ID, style = "visibility: hidden" })
            }
        }
        
    </dl>
</div>

<p>
    @Html.ActionLink("Edit incident", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<br />
<div class="row">
    <table id="example" class="display" style="width:100%"></table>
</div>

