@model WebApplication1.Models.IncidentsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Incident</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfIncident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfIncident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfIncident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfIncident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Long)
        </dd>

        <dt>
            Services
        </dt>
        @for (var i = 0; i < Model.Roles.Count(); i++)
        {
            var role = Model.Roles[i];
            if (role.Selected == true)
            {
                <dd>
                    @Html.DisplayFor(model => model.Roles[i].RoleName, role.RoleName)
                </dd>
            }
        }
        <br />
        @using (Html.BeginForm("ConfirmIncident", "Incidents"))
        {
            if (Model.confirmed == false)
            {
                <dt>
                    <input type="submit" value="Confirm" class="btn btn-default" />
                </dt>
                @Html.TextBox("id", null, htmlAttributes: new { @value = @Model.ID, style = "visibility: hidden" })
            }
        }
        <br />
        @using (Html.BeginForm("DenyIncident", "Incidents"))
        {
            if (Model.confirmed == false)
            {

                <dt>
                    <input type="submit" value="Deny" class="btn btn-default" />
                </dt>
                @Html.TextBox("id", null, htmlAttributes: new { @value = @Model.ID, style = "visibility: hidden" })
            }
        }
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
