@model IEnumerable<WebApplication1.Models.IncidentsViewModel>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="~/Scripts/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.css" />
<link rel="stylesheet" type="text/css" href="~/Content/themes/base/datepicker.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var incidents = [];
        var data;
        var selected = false;
        @foreach (var item in Model)
        {
        <text>
        var id = @item.ID;
        var incidentType = "@item.Type.ToString()";
        var street = "@item.Address";
        var city = "@item.City";
        var zip = "@item.ZipCode";
        var addDate = "@item.AddDate.ToString("dd/M/yyyy", System.Globalization.CultureInfo.InvariantCulture)";
        var incDate = "@item.DateOfIncident.ToString("dd/M/yyyy", System.Globalization.CultureInfo.InvariantCulture)";
        var time = "@item.TimeOfIncident.ToString()";
        var confirmed = "@item.confirmed";
        incidents.push([id, addDate, incDate, time, street, city, zip, incidentType, confirmed]);
        </text>
        }
        $('#example').DataTable({
            data: incidents,
            columns: [
                { title: "ID" },
                { title: "Add date", type: "date" },
                { title: "Incident date" },
                { title: "Time" },
                { title: "Address" },
                { title: "City" },
                { title: "Zip Code" },
                { title: "Type" },
                { title: "Confirmed" }
            ],
            dom: 'lBfrtip',
            buttons: [
            {
                text: 'Edit',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Incidents/Edit/" + data[0];
                    else
                        alert('Please select one of incidents first.');
                }
            },
            {
                text: 'Details',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Incidents/Details/" + data[0];
                    else
                        alert('Please select one of incidents first.');
                }
            },
            {
                text: 'Delete',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Incidents/Delete/" + data[0];
                    else
                        alert('Please select one of incidents first.');
                }
            },
            {
                text: 'New participant',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Participants/Create/" + data[0];
                    else
                        alert('Please select one of incidents first.');
                }
            }],
            //"fnRowCallback": function( nRow, data, iDisplayIndex, iDisplayIndexFull ) {
            //    if ( data[8] == "False" )
            //        data[8] = "No";
            //    else
            //        data[8] = "Yes";
            //},
            "order" : [[8, "asc"]]

        });

        var table = $('#example').DataTable();

        $('#example tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                selected = false;
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                data = table.row(this).data();
                selected = true;
            }
        });

        $(function () {
            $('.date-picker').datepicker({
                dateFormat: "dd/m/yy",
                showAnim: "slideDown",
                changeMonth: true,
                changeYear: true
            });
        })

        $("#min").keyup ( function() { table.draw(); } );
        $("#min").change( function() { table.draw(); } );
        $("#max").keyup ( function() { table.draw(); } );
        $("#max").change( function() { table.draw(); } );

        $.fn.dataTable.ext.search.push( function( settings, data, dataIndex ) {
            var min =  parseDateValue($('#min').val());
            var max =  parseDateValue($('#max').val());
            var evalDate = parseDateValue(data[2]);

            if ( evalDate >= min && evalDate <= max) {
                return true;
            }
            else {
                return false;
            }
        });

        function parseDateValue(rawDate) {
            var dateArray= rawDate.split("/");
            var parsedDate= dateArray[0] + dateArray[1] + dateArray[2];
            return parsedDate;
        }
    });
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<br />
<div style="float: left">
    Showing incidents from: <input type="text" id="min" name="min" class="form-control date-picker" style="float:left" value="@DateTime.Now.AddDays(-30).ToString("d/M/yyyy", System.Globalization.CultureInfo.InvariantCulture)"><br />
</div>
<div style="float: left; margin-bottom: 2%">
    to: <input type="text" id="max" name="max" class="form-control date-picker" style="float:left" value="@DateTime.Now.ToString("d/M/yyyy", System.Globalization.CultureInfo.InvariantCulture)"><br />
</div>
<div class="row">
    <table id="example" class="display" style="width:100%"></table>
</div>
