@model IEnumerable<WebApplication1.Models.ServiceParticipation>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="~/Scripts/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.css" />
<link rel="stylesheet" type="text/css" href="~/Content/themes/base/datepicker.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var participations = [];
        var data;
        var selected = false;
        @foreach (var item in Model)
        {
        <text>
        var incidentID = @item.IncidentId;
        var roleName = "@item.RoleName";
        var incidentType = "@item.Incident.Type";
        var incidentDate = "@item.Incident.DateOfIncident.ToString("dd/M/yyyy", System.Globalization.CultureInfo.InvariantCulture)"
        participations.push([incidentID, roleName, incidentType, incidentDate]);
        </text>
        }
        $('#example').DataTable({
            data: participations,
            columns: [
                { title: "Incident ID" },
                { title: "Service" },
                { title: "Type" },
                { title: "Date" }
            ],
            dom: 'lBfrtip',
            buttons: [
            {
                text: 'Edit',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/ServiceParticipations/Edit/" + data[0];
                    else
                        alert('Please select one of participations first.');
                }
            },
            {
                text: 'Details',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/ServiceParticipations/Details/" + data[0];
                    else
                        alert('Please select one of participations first.');
                }
            },
            {
                text: 'Incident',
                action: function ( e, dt, node, config ) {
                    if(selected)
                        window.location.href = "/Incidents/Details/" + data[0];
                    else
                        alert('Please select one of participations first.');
                }
            }]

        });

        var table = $('#example').DataTable();

        $('#example tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                selected = false;
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                data = table.row(this).data();
                selected = true;
            }
        });

        $(function () {
            $('.date-picker').datepicker({
                dateFormat: "dd/m/yy",
                showAnim: "slideDown",
                changeMonth: true,
                changeYear: true
            });
        })

        $("#min").keyup ( function() { table.draw(); } );
        $("#min").change( function() { table.draw(); } );
        $("#max").keyup ( function() { table.draw(); } );
        $("#max").change( function() { table.draw(); } );

        $.fn.dataTable.ext.search.push( function( settings, data, dataIndex ) {
            var min =  parseDateValue($('#min').val());
            var max =  parseDateValue($('#max').val());
            var evalDate = parseDateValue(data[3]);

            if ( evalDate >= min && evalDate <= max) {
                return true;
            }
            else {
                return false;
            }
        });

        function parseDateValue(rawDate) {
            var dateArray= rawDate.split("/");
            var parsedDate= dateArray[2] + dateArray[1] + dateArray[0];
            return parsedDate;
        }
    });
</script>
<h2>Index</h2>

<div style="float: left">
    Showing incidents from: <input type="text" id="min" name="min" class="form-control date-picker" style="float:left" value="@DateTime.Now.AddDays(-30).ToString("dd/M/yyyy", System.Globalization.CultureInfo.InvariantCulture)"><br />
</div>
<div style="float: left; margin-bottom: 2%">
    to: <input type="text" id="max" name="max" class="form-control date-picker" style="float:left" value="@DateTime.Now.ToString("dd/M/yyyy", System.Globalization.CultureInfo.InvariantCulture)"><br />
</div>
<div class="row">
    <table id="example" class="display" style="width:100%"></table>
</div>
