@model IEnumerable<WebApplication1.Models.IncidentsViewModel>
@using Newtonsoft.Json

@{
    ViewBag.Title = "Home Page";
}

<script src="http://maps.googleapis.com/maps/api/js?libraries=drawing"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
<script type="text/javascript">

    var map;
    var counter = 0;
    var markers = [];
    var marker = new google.maps.Marker;
    var locations = [];
    var geocoder;
    var infowindow = new google.maps.InfoWindow;
    var markerCluster;
    var address;

    function initialize() {
        var mapProp = {
            center: new google.maps.LatLng(52.229491, 21.002137),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        geocoder = new google.maps.Geocoder;

        @foreach (var item in Model) {
        <text>
        var lat = @item.Lat.ToString().Replace(",", ".");
        var long = @item.Long.ToString().Replace(",", ".");
        var latLng = new google.maps.LatLng(lat, long);
        var id = @item.ID;
        var incidentType = "@item.Type.ToString()";
        var iconUrl = "@item.IconUrl";
        counter = (id >= counter) ? id : counter;
        placedbMarker(latLng, id, incidentType, iconUrl);
        </text>
        }
        counter++;

        var drawingManager = new google.maps.drawing.DrawingManager({
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: [
                  google.maps.drawing.OverlayType.CIRCLE,
                  google.maps.drawing.OverlayType.POLYGON,
                  google.maps.drawing.OverlayType.POLYLINE,
                  google.maps.drawing.OverlayType.RECTANGLE
                ]
            },
            markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
            circleOptions: {
                //fillColor: '#ffff00',
                //fillOpacity: 1,
                //strokeWeight: 5,
                clickable: true,
                editable: true
                //  zIndex: 1
            },
            polygonOptions: {
                clickable: true,
                editable: true
            },
            polylineOptions: {
                clickable: true,
                editable: true
            },
            rectangleOptions: {
                clickable: true,
                editable: true
            }
        });
        drawingManager.setMap(map);


        markerCluster = new MarkerClusterer(map, markers);
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
        });

        google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
            var figure = event.overlay;
            if (event.type == google.maps.drawing.OverlayType.POLYGON) {
                checkPolygon(figure);
                google.maps.event.addListener(figure.getPath(), "set_at", function (event) {
                    checkPolygon(figure);
                });
            }
            if (event.type == google.maps.drawing.OverlayType.CIRCLE) {
                checkRectangleOrCircle(figure);
                google.maps.event.addListener(figure, "radius_changed", function (event) {
                    checkRectangleOrCircle(figure);
                });
                google.maps.event.addListener(figure, "center_changed", function (event) {
                    checkRectangleOrCircle(figure);
                });
            }
            if (event.type == google.maps.drawing.OverlayType.RECTANGLE) {
                checkRectangleOrCircle(figure);
                google.maps.event.addListener(figure, "bounds_changed", function (event) {
                    checkRectangleOrCircle(figure);
                });
            }
            google.maps.event.addListener(figure, "click", function(e) {
                figure.setMap(null);
                document.getElementById("counted").innerHTML = 0;
            });
        });
    }

    function checkRectangleOrCircle(figure) {
        var bounds = figure.getBounds();
        var resultColor;
        var number = 0;
        for (var i = 0; i < markers.length; i++)
            if(bounds.contains(markers[i].getPosition()))
                number++;

        resultColor = (number >=1 ) ? 'green' : 'red';
        document.getElementById("counted").innerHTML = number;
        figure.setOptions({ fillColor: resultColor, strokeColor: resultColor, strokeOpacity: 0.8 });
    }

    function checkPolygon(polygon) {
        var resultColor;
        var number = 0;
        for (var i = 0; i < markers.length; i++)
            if(google.maps.geometry.poly.containsLocation(markers[i].getPosition(), polygon)==true)
                number++;

        resultColor = (number >=1 ) ? 'green' : 'red';
        document.getElementById("counted").innerHTML = number;
        polygon.setOptions({ fillColor: resultColor, strokeColor: resultColor, strokeOpacity: 0.8 });
    }

    function setMarkerIcon(type) {
        var myIcon;
        switch (type) {
            case "Wypadek drogowy":
                myIcon = new google.maps.MarkerImage('/Content/pictures/caraccident.png');
                break;
            case "Roboty drogowe":
                myIcon = new google.maps.MarkerImage('/Content/pictures/construction.png');
                break;
            case "Pożar":
                myIcon = new google.maps.MarkerImage('/Content/pictures/fire.png');
                break;
            default:
                myIcon = new google.maps.MarkerImage('/Content/pictures/other.png');
                break;
        }
        return myIcon;
    }

    function placedbMarker(location, markerID, type, iconUrl) {
        var myIcon = new google.maps.MarkerImage(iconUrl);

        var dbmarker = new google.maps.Marker({
            position: location,
            map: map,
            id: markerID,
            icon: myIcon
        });
        var address;

        markers.push(dbmarker);

        var delButton = '<button id="delButton" data-id="' + counter + '">Delete incident</button>';
        var editButton = '<button id="editButton" data-id="' + counter + '">Edit incident</button>';

        document.getElementById("lat").innerHTML = location.lat();
        document.getElementById("lng").innerHTML = location.lng();

        reverseGeocoder(location, function(result, err){
            address = result;
            document.getElementById("address").innerHTML = address;
        });

        var data = 'ID: ' + markerID +
            '<br>' + delButton +
            ' ' + editButton;

        google.maps.event.addListener(dbmarker, 'click', function (event) {

            if(infowindow) infowindow.close();
            infowindow = new google.maps.InfoWindow({content: data});
            infowindow.open(map, dbmarker);
            //reverseGeocoder(location, function(result, err){
            //    address = result;
            //    infowindow.setContent(result + "<br />" + data);
            //    document.getElementById("address").innerHTML = address;
            //});
            var buttonDel = document.getElementById('delButton');
            var buttonEdit = document.getElementById('editButton');
            buttonDel.onclick = function () {
                deldbMarker(dbmarker.id);
            };
            buttonEdit.onclick = function() {
                editdbMarker(dbmarker.id);
            }
        });
    }

    function editdbMarker(counter) {
        window.location.href = "/Incidents/Edit/" + counter;
    }

    function deldbMarker(counter) {
        window.location.href = "/Incidents/Delete/" + counter;
    }

    function placeMarker(location) {

        if(marker) deleteMarker(marker.id);
        marker = new google.maps.Marker({
            position: location,
            map: map,
            id: counter
        });
        var address;

        markers.push(marker);
        markerCluster.clearMarkers();
        markerCluster = new MarkerClusterer(map, markers);
        var deleteButton = '<button id="deleteButton" data-id="' + counter + '">Delete marker</button>';
        var addButton = '<button id="addButton" data-id="' + counter + '">Add incident</button>';


        document.getElementById("lat").innerHTML = location.lat();
        document.getElementById("lng").innerHTML = location.lng();

        reverseGeocoder(location, function(result, err){
            address = result;
            document.getElementById("address").innerHTML = address;
        });

        var data = 'ID: ' + counter +
            '<br>What would you like to do?<br><br>' + deleteButton +
            ' ' + addButton;

        google.maps.event.addListener(marker, 'click', function (event) {

            if(infowindow) infowindow.close();
            infowindow = new google.maps.InfoWindow({content: data});
            infowindow.open(map, marker);

            var buttonDelete = document.getElementById('deleteButton');
            var buttonAdd = document.getElementById('addButton');
            buttonDelete.onclick = function () {
                deleteMarker(marker.id);
            };
            buttonAdd.onclick = function() {
                addMarker(event.latLng, address);
            }
        });
    }

    function deleteMarker(markerId) {

        for (var i = 0; i < markers.length; i++) {
            if (markers[i].id == markerId) {
                markers[i].setMap(null);
                markers.splice(i, 1);
                markerCluster.clearMarkers();
                markerCluster = new MarkerClusterer(map, markers);
            }
        }
    }

    function reverseGeocoder(latLng, callback) {
        geocoder.geocode({'location': latLng}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    callback(results[0].formatted_address, null);
                } else {
                    callback(null, status);
                }
            } else {
                window.alert('Geocoder failed due to: ' + status);
            }
        });
    }

    function postData(url, allData) {
        form = document.createElement('form');
        for(data in allData)
        {
            var input = document.createElement('input');
            input.type = 'text';
            input.name = data;
            input.value = allData[data].toString();
            form.appendChild(input);
        }
        form.method = 'post';
        form.action = url;
        form.submit();
    }

    function addMarker(location, fulladdress) {
        document.getElementById("address").innerText = address + " udalo sie!";
        document.getElementById("test").innerText = location + " udalo sie!";

        var data = JSON.stringify(fulladdress) + JSON.stringify(location)
        postData('/Incidents/Create', {JsonStr : data})
        window.location.href = "/Incidents/Create";

        //form = document.createElement('form');
        //for(data in allData)
        //{
        //    var input = document.createElement('input');
        //    input.type = 'text';
        //    input.name = data;
        //    input.value = allData[data].toString();
        //    form.appendChild(input);
        //}
        //form.method = 'post';
        //form.action = 'Incidents/CreateIncident';
        //form.submit();

        //$.ajax({
        //    type: "GET",
        //    url: "../Incidents/Create",
        //    dataType: "text",
        //    data:  {JsonStr : data},
        //    success: function(data){
        //        window.location.href = "../Incidents/Create"
        //    },
        //    error: function (xhr, ajaxOptions, thrownError) {
        //    alert(xhr.status);
        //    }
        //})

        //    .done(function () {
        //    window.location.href = "../Incidents/Create"
        //})

    }



    function getDatatotheController(result) {
        var mode = result
        var parameters = { 'data': mode };

        $.ajax({
            type: "GET",
            url: '/Incidents/CreateIncident',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: parameters,
            success: successFunc,
            error: errorFunc
        });

        function successFunc(data) {
            alert(data);
        }

        function errorFunc() {
            alert(error);
        };
    }

    function displayLocation() {
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(data.Lat, data.Long),
            map: map
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>

@*<div class="jumbotron">


    </div>*@

<div id="googleMap" style="width:100%;height:600px;"></div>

<div id="data">
    <br />
    <text>Count: </text><text id="counted">0</text><br />
    <text>Address: </text><text id="address" >Choose incident.</text><br />
    <text id="date">Date: @DateTime.Now.Date.ToShortDateString()</text><br />
    <text id="time">Time: @DateTime.Now.ToShortTimeString()</text><br />
    <text id="lat" @*style="visibility: hidden"*@></text><br />
    <text id="lng" @*style="visibility: hidden"*@></text><br />
    <text id="test"></text>
    @Html.ActionLink("Add new incident", "Create", "Incidents")
</div>

<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Long)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Long)
                </td>
            </tr>
        }
    </table>
</div>